* {
  max-height: 1000000px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  outline: none;
}

q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  margin: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button {
  overflow: visible;
}

select {
  -webkit-border-radius: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (min-width: 1025px) {
  a[href^=tel],
  a[href^=skype],
  a[href^=sms] {
    cursor: default;
    pointer-events: none;
  }
}

body {
  color: #000;
  background: #fff;
  font: 16px / 1.2 "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  min-width: 320px;
}

a {
  color: #39f;
}
a:hover {
  color: #000;
}

p {
  margin: 0 0 1.2em;
}

mark {
  background: #f00;
  color: #fff;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: 0 0 1.2em;
}

h1,
.h1 {
  font-size: 30px;
}

h2,
.h2 {
  font-size: 27px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 21px;
}

h5,
.h5 {
  font-size: 17px;
}

h6,
.h6 {
  font-size: 15px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"]
textarea {
  border: 1px solid #999;
  padding: .4em .7em;
  color: #999;
}
input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]
textarea::-webkit-input-placeholder {
  color: #999;
}
input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]
textarea::-moz-placeholder {
  opacity: 1;
  color: #999;
}
input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]
textarea:-moz-placeholder {
  color: #999;
}
input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]
textarea:-ms-input-placeholder {
  color: #999;
}
input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"]
textarea.placeholder {
  color: #999;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]
textarea:focus {
  border-color: #000;
}

input,
textarea,
select {
  font: 100% "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  color: #000;
  vertical-align: middle;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

#wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
  min-height: 100vh;
}

#footer {
  display: table-footer-group;
  height: 1%;
  width: 100%;
  overflow: hidden;
}
#footer .f1 {
  display: table-cell;
}