doctype html
html(lang="en")
  include inc/head.jade
  body
    #wrapper
      .w1
        include inc/header.jade
        main#main
          .intro-block
            .container
              article
                h1 Lorem ipsum dolor sit amet
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus labore enim maiores vero provident, in qui! Necessitatibus voluptatum, debitis est? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, porro Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, dolorum!
                a(href="#") Link Text
      include inc/footer.jade
    include inc/scripts.jade