doctype html
html(lang="en")
  include inc/head.jade
  body
    #wrapper
      .w1
        include inc/header.jade
        main#main
          .intro-block
            .container
              article
                h1 Lorem ipsum dolor sit amet
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi mollitia voluptatum unde itaque neque eum eius rerum, quam ea facere veritatis soluta excepturi consequatur voluptate consectetur, cupiditate quaerat optio quibusdam repellat nobis quis dolore velit magni sed. Numquam amet nostrum laborum totam assumenda sequi est, officiis dolorem cupiditate laboriosam, pariatur.
                a(href="#")
                  img(src="images/img01.jpg", alt="image description")
      include inc/footer.jade
    include inc/scripts.jade